/*------------------------------------
            전체 틀
 -------------------------------------*/
#whole {
  width: 100%;
  height: 1500px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  background:#fff;
  border-bottom: thin solid #d3d3d3;
}

nav {
  width: 100%;
  height: 500px;
  background: #fff;
}

#footer {
  clear: both;
  width: 100%;
  height: 100px;
  background:#fff;
  border-top: thin solid #d3d3d3;
  border-bottom: thin solid #d3d3d3;
}

/*------------------------------------
           header manu
 -------------------------------------*/

.container {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
}

/*o2tv 메인 상단 아이콘*/
.mainicon {
   display: inline-block;
   float:left;
   width: 170px;
   height: 80px;
   line-height:80px;
   text-align: center;
 }

.mainicon img {
   padding-left: 20px;
   width: 150px;
   vertical-align:middle;
   cursor: pointer;
 }


.headmenu_searchbar {
  float:center;
  display: inline-block;
  line-height:80px;
  width: calc(100% - 340px);
  height: 80px;
  text-align: center;
}

.headmenu_sidebar{
  display: inline-block;
  float:right;
  width: 170px;
  height: 80px;
  line-height:80px;
  text-align: center;
}

.headmenu_sidebar img{
   padding-left: 50px;
   width: 40px;
   vertical-align:middle;
}

.headmenu a {
  color: rgb(14, 13, 13);
  padding: 25px 0 6px 10px;
  display: inline-block;
}

.headmenu a:hover {
  color: #fff
}

/*반응형 값 (mediaquery)*/
/*
@media (max-width:1320px) {
  .container {
    width: 100%;
  }

  .headmenu {
    padding: 0px;
  }
}

/*스크롤에 고정*/
.h-fixed {position:fixed; top:110; z-index:200; width:100%;}



/*------------------------------------
        header search bar
 -------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.body {
  font-family: 'Open Sans', sans-serif;
}

.search {
  display: inline-block;
  width: 50%;
  height:80px;
  line-height:80px;
}

.searchTerm {
 display: inline-block;
 vertical-align:middle;
  width: 50%;
  border: 3px solid #d3d3d3;
  padding: 15px;
  vertical-align:middle;
  height: 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  display: inline-block;
  width: 40px;
  height: 50px;
  border: 1px solid #d3d3d3;
  background: #d3d3d3;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  vertical-align:middle;
}


/*------------------------------------
             side부분
 -------------------------------------*/
 /*사이드바 큰 틀*/
 /*-------------------------------------------------------------*/

input#sidebar {
  display: none;
}

/*(aside로 변경/ 추후에 위에 위치시켜야함/기록해서)*/

/*sidebar 버튼 위치 및 크기*/
aside label.sidemenu {
  cursor: pointer;
}

/*사이드바 틀*/
.side_content {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 1500px;
  background: #fff;
  transition: all .35s;
  z-index: 5;
}

.side_content > ul {margin: 20px;}

.side_content > ul >li {
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.side_content > ul > li > a {
   display: inline-block;
   width: auto;
   color: #fff;
   padding: 10px;
   margin:10px;
   background: #f5f5f5;
}

.side_content label[for='sidebar']{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

/*사이드바 외 배경영역(클릭시 sidebar 닫히게 하기위해서)*/
.sidebackground{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   transition: all 0.35s;
   opacity: 0;
   visibility: hidden;
   z-index: 1;
}

/*input 체크*/
input#sidebar:checked ~ head label {background-position: -24px 0;}
input#sidebar:checked ~ .side_content {left: 0;}
input#sidebar:checked ~ .sidebackground {opacity: 1; visibility: visible;}


 /*---------------------------여기까지----------------------------------*/


 /*side의 세세한 부분*/
/*-------------------------------------------------------------*/
#side_design {
  text-align: center;
  text-decoration-line : none;
  font-weight: bold;
}

.sub2{
  font-weight: bold;
}

/*sidebar style부분*/
#side_design .submenu {
  width: 100%;
  height: 700px;
  background: #fff;
}

/* 첫번째(교육,헬스,여행) 메뉴 */
#side_design .submenu li {
  text-align: center;
  background: #d3d3d3;
  position: relative;
}

/* 두번째(초중고일스) 메뉴 */
#side_design .submenu li a {
  padding: 10px;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
/* 8/23수정 (각 타이틀 꽉차게) */
#side_design .submenu li ul li a{
  padding: 10px;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}


/*마우스(오버했을때)를 가져놓을때*/
#side_design .submenu li a:hover {
  background: rgba(0, 0, 0, 0.4);
}

/*a관련 text style*/
/*category1 style*/
#side_design .submenu li a {
  color: #fff;
  display: inline-block;
  width: 91%;
  height: 40px;
}

/*카테고리 text style*/
.category1 {font-size: 24px;}
.category2 {text-decoration : underline; font-size: 18px; }
.category3 {font-size: 15px;}


/*첫번째 메뉴 닫쳐있는 상태로 표시 (side_design 와 submenu사이에 spacebar로 해결)*/
/*위아래로 effect*/
#side_design .submenu li ul.sub1 {
  display: none;
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
}

/*두번째 메뉴 닫쳐있는 상태로 표시(submenu2를 sub2으로 변경후 차근히 분류 확인해서 써줌)*/
/*옆으로 effect*/
#side_design .submenu li ul.sub2 {
  display: none;
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
}


/*sub1에 마우스를 가져놓을때*/
#side_design .submenu li ul.sub1 a:hover {
  background: rgba(0, 0, 0, 0.2);
}

/*sub2에 마우스를 가져놓을때*/
#side_design .submenu li ul.sub2 a:hover {
  background: rgba(0, 0, 0, 0.5);
}


/*------------------------------------
               footer
 -------------------------------------*/
.footer {
  padding: 0;
  text-align: center;

}

.footer ul {
  margin-bottom: 0px;
}

.footer address{
  padding: 5px;
}

.footer li {
  position: relative;
  display: inline;
  padding: 5px 7px 0 10px;
}

.footer li:before {
  content: '';
  width: 1px;
  height: 12px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 2px;
}

.footer li:first-child:before {
  width: 0;
  height: 0;
}

.footer .w3c {
  margin-top: px;
}
