.headmaker1 {
  float: left;
  width: 50%;
  height: 100%;
}

.headmaker2 {
  float: right;
  width: 50%;
  height: 100%;
}

.hm1 {
  width: 93%;
  height: 200px;
  display: inline-block;
  padding: 20px 10px 10px 20px;

}

.hm2 {
  width: 93%;
  height: 200px;
  display: inline-block;
  padding: 20px 20px 20px 20px;
}

.creator {
  float: left;
}

.explain {
  display: inline-block;
  width: 65%;
  height: 150px;
  text-align: left;
  margin: 20px 0 0 10px;
}

.maker {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #97b4f3;
  border-radius: 50%;
}