
   /*padding 때문에 width 약간씩 변경함. 안그러면 깨짐;*/
   /*기본틀*/
  .mainvod{
    float: left;
    width: 92%;
    height: 520px;
    padding: 50px;
    border: 1px solid red;
  }

  .mv{
    float: left;
    width: 70%;
    height: 500px;
    border: 1px solid red;
  }

  .text4{
    float:left;
    width: 142.2%;
    height: 30px;
    padding: 10px;
    border: 1px solid red;
  }

  .comment{
    float: left;
    width: 92%;
    height: 730px;
    padding: 20px 50px 50px 50px;
    border: 1px solid rebeccapurple;
  }
  .comment_window{
    float: left;
    width: 100%;
    height: 50px;
    border: 1px solid rebeccapurple;
  }
  .comment_list{
    float: left;
    width: 100%;
    height: 650px;
    border: 1px solid rebeccapurple;
  }

  .typing{
    float: left;
    width: 93%;
    height: 44px;
    padding:  2px 10px;
  }

  .registration{
    float: left;
    width: 50px;
    height: 52px;
  }






  /*안에 내용들*/
  /*기존의 h4, li 스타일이 있기에 따로 설정*/
  .chat1 h4 {font-size: 20px; color: #0093bd; padding-bottom: 3px; font-weight: 700;}
  .chat1 ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 10px; padding-top: 20px;}
  .chat1 ul li a {font-size: 17px;}
  .chat1 a.answer {position: absolute; font-size: 20px; bottom: 0; display: block; width: 60px; height: 20px; transform: translate(230px, -20px);}

  .thismv iframe{
    float: left;
    width: 100%;
    height: 500px;
  }