<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}O2TV{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% load staticfiles %}
    <!-- style 연결(중요) -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle2 %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle3 %}{% endblock %}" />


    <!-- 파비콘 -->
    <link rel="icon" href="{% static 'icon/o2-16.png' %}" sizes="16x16">
    <link rel="icon" href="{% static 'icon/o2-32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'icon/o2-64.png' %}" sizes="64x64">
    <link rel="icon" href="{% static 'icon/o2-128.png' %}" sizes="128x128">


    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js'%}"></script>
    <script type="text/javascript">
        alert({% trans "The browser you are viewing is not supported at this time. Please update to the latest browser!" %});
     </script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>


<body>
<!------------------------------------
    header menu (hearder부분)
------------------------------------->
<header id="header">
    <div class="container">

        <div class="mainicon">
            <a href="{% url 'main' %}"><img src="{% static 'img/otootv.png'%}" alt="o2tv" /></a>
        </div>

        <div class="headmenu_searchbar">
            <input type="text" class="searchTerm">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <!------------------------------------
                    side br (aside부분)
         ------------------------------------->

        <input type="checkbox" id="sidebar">
        <div class="headmenu_sidebar">
            <aside>
                <a href="{% url 'account' %}"> <img id="profile" src="{% static 'img/default_profile_image.jpg'%}"  /></a>
                <a href="#"> <img id="favorites" src="{% static 'icon/star.png'%}"  /></a>
                <label for='sidebar' class='sidemenu'>
                    <img id='hamberger'  src="{% static 'icon/hamberger.png'%}" />
                </label>
            </aside>
        </div>
        <div class="side_content">
            <div id="side_design">
                <div class="submenu">
                    <ul>
                        <li><a class="category1">{% trans "Education" %}</a>
                            <ul class="sub1">
                                <li><a class="category2">{% trans "Elementary School" %}</a>
                                    <ul class="sub2">
                                        <li><a href="{% url 'creator' %}" class="category3">{% trans "English" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Korean" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Math" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Science" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "ETC" %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="category2">{% trans "Middle School" %}</a>
                                    <ul class="sub2">
                                        <li><a href="#" class="category3">{% trans "Korean" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Math" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Science" %}</a></li>
                                        <li><a href="#" class="category3">SSAT</a></li>
                                        <li><a href="#" class="category3">{% trans "ETC" %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="category2">{% trans "High School" %}</a>
                                    <ul class="sub2">
                                        <li><a href="#" class="category3">{% trans "Korean" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Math" %}</a></li>
                                        <li><a href="#" class="category3">{% trans "Science" %}</a></li>
                                        <li><a href="#" class="category3">SAT</a></li>
                                        <li><a href="#" class="category3">ACT</a></li>
                                        <li><a href="#" class="category3">{% trans "ETC" %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="category2">{% trans "General" %}</a>
                                    <ul class="sub2">
                                        <li><a href="#" class="category3">TOEIC</a></li>
                                        <li><a href="#" class="category3">TOEFL</a></li>
                                        <li><a href="#" class="category3">TEPS</a></li>
                                        <li><a href="#" class="category3">{% trans "ETC" %}</a></li>
                                    </ul>
                                </li>
                                <li><a class="category2">{% trans "Sky Castle" %}</a>
                                    <ul class="sub2">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="category1">{% trans "Travel" %}</a>
                            <ul class="sub1">
                                <li><a href="#", class="category2">{% trans "North America" %}</a></li>
                                <li><a href="#", class="category2">{% trans "South America" %}</a></li>
                                <li><a href="#", class="category2">{% trans "Europe" %}</a></li>
                                <li><a href="#", class="category2">{% trans "Australia" %}</a></li>
                                <li><a href="#" class="category2">{% trans "ETC" %}</a></li>
                            </ul>
                        </li>
                        <li><a class="category1">{% trans "Shopping" %}</a>
                            <ul class="sub1">
                                <li><a href="#", class="category2">{% trans "Accessories" %}</a></li>
                                <li><a href="#", class="category2">{% trans "Shoes" %}</a></li>
                                <li><a href="#", class="category2">{% trans "Travel" %}</a></li>
                                <li><a href="#" class="category2">{% trans "ETC" %}</a></li>
                            </ul>
                        </li>
                        <li><a class="category1">{% trans "Game" %}</a></li>
                        <li><a class="category1">{% trans "Fitness" %}</a></li>

                        <li><a class="category1", id="caca", href="{% url 'notice' %}">{% trans "Notice" %}</a></li>
                        <li><a class="category1">{% trans "Service center" %}</a>
                            <ul class="sub1">
                                <li><a  href="{% url 'help' %}">{% trans "Help" %}</a></li>
                                <li><a  href="{% url 'inquiry' %}">{% trans "Inquiry" %}</a></li>
                                <li><a href="#">{% trans "Vod support" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <label for="sidebar"></label>
        </div>
        <label for="sidebar" class="sidebackground"></label>
    </div>
</header>


<!------------------------------------
          내용
------------------------------------->
{% block content %}{% endblock %}


<!------------------------------------
          footer 부분
------------------------------------->

<div id="footer" role="footer">
    <div class="containerfooter">
        <div class="footer">
            <ul>
                <li><a href="#">{% trans "Site help" %}</a></li>
                <li><a href="#">{% trans "Site Terms of Use" %}</a></li>
                <li><a href="#">{% trans "Site Rules" %}</a></li>
                <li><a href="#">{% trans "Privacy Statement" %}</a></li>
                <li><a href="#">{% trans "Limitation of Liability and Legal Notice" %}</a></li>
                 <li><a href="#">{% trans "Takedown Request Service" %}</a></li>
                <li><a href="#">{% trans "Service center" %}</a></li>
            </ul>
            <address>
                &copy; COPYRIGHT TO OTOOTV
            </address>
        </div>
    </div>
</div>



<!------------------------------------
        total javascript
------------------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
        /*sub1 열리고 닫치고 (stop은 한번만 열고 닫고 slide는 부드럽게)*/
        $(".submenu > ul > li").hover(
            function () {
                $(this).find(".sub1").stop().slideDown();
            }, function () {
                $(this).find(".sub1").stop().slideUp();
            });


        /*sub2 열리고 닫치고 (ul > li > ul > li 즉, 경로를 잘봐주고 작성하여 해결)*/
        $(".submenu > ul > li > ul > li").hover(
            function () {
                $(this).find(".sub2").stop().slideDown();
            }, function () {
                $(this).find(".sub2").stop().slideUp();
            });


        /*header 고정*/
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $('#header').addClass('h-fixed');
            } else {
                $('#header').removeClass('h-fixed');
            }
        });




    </script>
</body>

