{% extends "base.html" %}
{% block title %}O2TV{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/add.css"%}{% endblock %}


{% block content %}
<section>
    <div class="inquiry_detail">
        <a href="#write" class="write" style="text-decoration: none;">제목</a>
        <hr>
        <p class="question_contents">
            문의사항에 글을 작성하고
            글을 보기 위해 눌렀을 경우 이런 형식으로 나타납니다.
            참고해주시기 바랍니다.</p>
        <br>
        <a href="#write" class="write" style="text-decoration: none;">답변</a>
        <hr>
        <p class="question_contents">
            문의사항에 글을 작성하고
            글을 보기 위해 눌렀을 경우 이런 형식으로 나타납니다.
            참고해주시기 바랍니다.
        </p>
        <br>
        <div style="text-align:left; margin:15px 0 0; width: 100px;">
            <a onclick="location.href='#'"; style="cursor: pointer;">
                <i class="fa fa-angle-up" aria-hidden="true" id="previous"></i>
                이전 글
            </a>
            <br>
            <a onclick="location.href='#'"; style="cursor: pointer;">
                <i class="fa fa-angle-down" aria-hidden="true" id="next"></i>
                다음 글
            </a>
        </div>
        <br>
        <div style="float: right; width: 500px;">
            <a>날짜: 2019.00.00, </a>
            <a>조회수: 000</a>
        </div>
        <br><br>
        <div style="float: right; width: 470px;">
            <button class="ok">확인</button>
            <button class="edit">수정</button>
            <button class="go-back">뒤로 가기</button>
        </div>
    </div>
</section>
{% endblock content %}