{% extends "base.html" %}

{% block title %}O2TV{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/main.css" %}{% endblock %}

{% block content %}
<!------------------------------------
        banner (nav부분)
------------------------------------->
<nav>
    <img src="{% static 'img/banner1.jpg'%}", height="500px" >
</nav>


<!------------------------------------
     contents (section부분)
------------------------------------->

<section>
    <article class="contents">

        <div class="content">
            <br><h2>인기</h2><br>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                   <img src="http://img.youtube.com/vi/{{ vod.video_url }}/0.jpg" alt="">
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
        </div>

        <div class="content">
            <br><h2>데모</h2><br>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
        </div>
    </article>
</section>



{% endblock content %}










