{% extends "base.html" %}

{% block title %}O2TV{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/main.css" %}{% endblock %}

{% block content %}
<!------------------------------------
        banner (nav부분)
------------------------------------->
<nav>
    <img src="{% static 'img/banner1.jpg'%}", height="500px" >
</nav>


<!------------------------------------
     contents (section부분)
------------------------------------->

<section>
    <article class="contents">

        <div class="content">
            <br><h2>인기</h2><br>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
        </div>

        <div class="content">
            <br><h2>데모</h2><br>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
        </div>
    </article>
</section>


<!--        -->
<!--        <div class="centercontent">-->
<!--           -->
<!--            -->

<!--        <div class="downcontent">-->
<!--            <h2>VOD</h2>-->
<!--            <div class="vod3">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod3">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod3">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod3">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod4">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod4">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod4">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="vod4">-->
<!--                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"-->
<!--                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                        allowfullscreen></iframe>-->
<!--                <div class="text2">-->
<!--                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>-->
<!--                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </article>-->
<!--</section>-->


{% endblock content %}










