{% extends "base.html" %}

{% block title %}O2TV{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/main.css" %}{% endblock %}

{% block content %}
<!------------------------------------
        banner (nav부분)
------------------------------------->
<nav>
    <img src="{% static 'img/banner1.jpg'%}", height="500px" >
</nav>


<!------------------------------------
     contents (section부분)
------------------------------------->
{% load i18n %}
<section>
    <div class="content">
        <div class="centercontent">
            <br><h2>{% trans "Popular vod" %}</h2><br>
            <div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>
            <div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>
            <div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>
            <div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>
            <div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>


            <div class="downcontent">
                <br><h2>{% trans "Deo vod" %}</h2><br>
                <div class="vod">
                    <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="text1">
                        <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                        <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                    </div>
                </div>
                <div class="vod">
                    <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="text1">
                        <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                        <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                    </div>
                </div><div class="vod">
                <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="text1">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                    <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                </div>
            </div>
                <div class="vod">
                    <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="text1">
                        <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                        <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                    </div>
                </div>
                <div class="vod">
                    <iframe src="https://www.youtube.com/embed/rVlhMGQgDkY?modestbranding=1" rel="0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="text1">
                        <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                        <P> 프로슈머 데이터 플렛폼, O2TV.</P>
                    </div>
                </div>

            </div>
        </div>
</section>
{% endblock content %}










