{% extends "base2.html" %}
{% block title %}O2TV{% endblock %}
{% load staticfiles %}
{% block extrajs %}{% static 'js/login.js'%}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
   <div class="overlay">
      <!-- LOGN IN FORM by Omar Dsoky -->
      <form>
         <!--   con = Container  for items in the form-->
         <div class="con">
         <!--     Start  header Content  -->
         <header class="head-form">
            <br>
            <h2><br>구독이 <br> 완료 되었습니다!</h2>
            <!--     A welcome message or an explanation of the login form -->
            <h3><br>저희 OTOOTV의<br> 가족이 되신 것을<br> 진심으로 환영합니다!</h3>
         </header>
         <!--     End  header Content  -->
         <br>
         <div class="field-set">
           
        <br>   
      <!--        buttons -->
         <div style="text-align: center;">
            <a  href="{% url 'main' %}"> <button type="button" class="goto-otootv"> OTOOTV 보러가기 </button></a>
         </div>
      </div>
           
      <!--   End Conrainer  -->
        </div>
        
        <!-- End Form -->
      </form>
      </div>
{% endblock %}