{% extends "base.html" %}

{% block title %}O2TV{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/creator.css" %}{% endblock %}
{% block extrastyle2 %}{% static "css/channel.css" %}{% endblock %}
{% block extrastyle3 %}{% static "css/main.css" %}{% endblock %}

{% block content %}
    <!------------------------------------
               owner channel 
 ------------------------------------->
    <div id="channel">
        <div class="owner">
            <div class="hm">
                <div class="creator">
                    <a href="{% url 'channel' %}"><img  src="{% static 'img/default_profile_image.jpg'%}"/></a>
                </div>
                <div class="explain">
                    <h2> (영상제목) O2TV 첫 시작, 플렛폼의 혁신</h2><br><br>
                    <h3> (영상내용) 프로슈머 데이터 플렛폼, O2TV.</h3>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
            <div class="line">
                <div class="vod">
                    <iframe  src="https://www.youtube.com/embed/wCly17RLgLk?modestbranding=1" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen>
                    </iframe>
                </div>
                <div class="text">
                    <h3>O2TV 첫 시작, 플렛폼의 혁신</h3>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}







